# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\C\Projects\LAB_OGL_MOVING_MAN\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
